version: '3.8'

services:
  company-db:
    build:
      context: ../database
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=company_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - db-network

networks:
  db-network:
    driver: bridge

volumes:
  postgres_data: