apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        # Enable Vault Sidecar Injection
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "myapp-role"
        
        # Local Vault Service Address
        vault.hashicorp.com/address: "http://vault.default.svc:8200"
        
        # Secret path in local Vault
        vault.hashicorp.com/agent-inject-secret-database: "secret/data/myapp/db"
        
        # Format the secret into a file
        vault.hashicorp.com/agent-inject-template-database: |
          {{- with secret "secret/data/myapp/db" -}}
          export POSTGRES_PASSWORD="{{ .Data.data.POSTGRES_PASSWORD }}"
          export DB_PASSWORD="{{ .Data.data.DB_PASSWORD }}"
          {{- end -}}
    spec:
      serviceAccountName: backend-sa
      containers:
        - name: backend
          image: sahalht/company_backend:latest
          imagePullPolicy: Always
          command: ["/bin/sh", "-c"]
          args:
            - |
              source /vault/secrets/database && 
              npm start
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: app-config
          # secretRef is REMOVED because we use Vault
          livenessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
