apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  # Namespace removed
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
  clusterIP: None  # Headless service for StatefulSet identity
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  # Namespace removed
spec:
  serviceName: "postgres-service"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: sahalht/company_db:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: company_dashboard
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
          # Liveness probe to check if Port 5432 is open
          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["bash", "-c", "pg_isready -U postgres"]
            initialDelaySeconds: 10
            periodSeconds: 5
          volumeMounts:
            - name: db-storage
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: db-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
